.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;
    font-size: 1rem;

}

/* 
  .title {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
    margin-left: 20px;
    padding: 20px;
  } */