// $body-bg: #FDFAF7;
$navbar-bg: #6B4423;


$theme-colors: (
  "primary": #6B4423,
  "secondary": #AC8D73,
  "success": #F29950,
  "info": #8F7A59,
  "warning": #E8DBD1,
  "danger": #6B4423,
  "light": #E8DBD1,
  "dark": #AC8D73,
);

$link-color: #F29950;

$pagination-color: #6B4423;
$pagination-active-bg: #6B4423;

@import '~bootstrap/scss/bootstrap';