.button {
    margin-top: 20px;
    box-shadow: 0 2px 2px #E8DBD1;
}

.button:hover {
    transform: translateY(-1px);
    opacity: 0.8;
}

.miniButton {
    /* width: 40px; */
    height: auto;
    box-shadow: 0 1px 2px #6B4423;
}

.miniButton:hover {
    transform: translateY(-1px);
    opacity: 0.8;
}

.title {
    margin-bottom: 30px;
    font-weight: bold;
}

.link {
    color: #E6914C;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.link:hover {
    color: #F29950;
    transform: translateY(-2px);
    opacity: 0.8;
    text-decoration: underline;
}

.bg {
    background-color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 40px 200px;
    padding: 30px;
}

@media (max-width: 960px) {
    .bg {
        margin: 40px 40px;
    }

    .contents {
        width: 100%;
    }
}