.contents {
    width: 80%;
    margin: 30px;
    padding-left: 60px;

}

.editButton {
    position: absolute;
    right: 400px;
    margin-top: -2px;
}

.subContainer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.key {
    color: #333;
    margin-right: 2rem;
    /* font-size: 1.25rem; */
}

.value {
    margin-right: 3rem;
    color: #6B4423;
    left: 600px;
    /* font-size: 1.25rem; */
}


.form {
    margin-right: 2rem;
    height: 20px;
    margin-top: -6px;

}



@media (max-width: 960px) {
    .bg {
        margin: 40px 40px;
    }

    .contents {
        width: 100%;
    }


    .editButton {
        position: absolute;
        right: 150px;
    }
}